<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href="../static/style/Cadastro.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body class="todo">
    <div class="login">
        <div>
            <div>
                <h1>CRIE SUA CONTA</h1>
            </div>
            <div class="messages">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </div>
            <div>
                <form action="{{ url_for('criar_user') }}" class="form" method="post">
                    <input class="inp" type="text" name="nome" placeholder="Nome" required>
                    <input class="inp" type="text" name="email" placeholder="Email" required>
                    <input class="inp" type="password" name="senha" placeholder="Senha" required>
                    <button class="btn1">Criar</button>
                </form>
            </div>
            <div style="display: flex; gap: 20px; flex-direction: column;">

                <a href="{{ url_for('login_form') }}"><button class="noAccount">Já tenho uma conta</button></a>
            </div>
        </div>
        <div>
            <img class="img" src="../static/imgs/bitcoin-animate.svg" alt="">
        </div>
    </div>
</body>

</html>