<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href="../static/style/Cadastro.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body class="todo">
    <div class="login">
        <div>
            <div>
                <h1>CRIE SUA CONTA</h1>
            </div>
            <div>
                <form action="" class="form">
                    <input class="inp" type="text" placeholder="Nome">
                    <input class="inp" type="text" placeholder="Email">
                    <input class="inp" type="password" placeholder="Senha">
                </form>
            </div>
            <div style="display: flex; gap: 20px; flex-direction: column;">
                <button class="btn1">Criar</button>
                <button class="noAccount">Já tenho uma conta</button>
            </div>
        </div>
        <div>
            <img class="img" src="../static/imgs/bitcoin-animate.svg" alt="">
        </div>
    </div>
</body>

</html>