*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Quicksand", sans-serif;
}

.total{
    display: flex;
    flex-direction: row;
}
.barralateral{
    padding-top: 10px;
    height: 100vh;
    width: 25%;
    background-color: black;
}
.maurilo{
    width: 40px;
    height: 40px;
    border-radius: 1000px;
}
.divnome{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1px 10px;
    align-items: center;
}
.divnome div{
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    font-weight:600;
    font-size: 15px;
}
.dinheiro{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    border-bottom: 1px solid white;
    padding-bottom: 20px;
}
.divperfil{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.divsino{
    background-color: #DDBF29;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    border-radius: 1000px;
}
.menu, .carteira,.config{
    font-size: 25px;
    height: 15%;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    padding-left: 15px;
    gap: 20px;
}

.menu a,
.carteira a,
.config a {
    margin: 0px;
    display: flex;
    align-items: center;
    gap: 10px;
}


.main{
    background-color: #3E3E3E;
}


.switchCase{
    background-color: #FFD60A;
    overflow: hidden;
}

.switch{
    background: none;
    border: none;
    color: black;
}

.tabela{
    background-color: #262626;
    width: 50vw;
    height: 60vh;
    overflow: auto;
}

.addBtn{
    background-color: #FFD60A;
    border: none;
    color: black;
}

hr{
    margin: 0 !important;
    padding: 0 !important;
}

.linha{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.coluna{
    text-align: center;
}
}
.btnlogout{
    border:none;
    border-radius:1000px;
    padding:10px;
    background-color: transparent;
}